<form class="formulario">
    <mat-label class="titulo">Consulta de clientes</mat-label>
    <p>
        <input class="busca" search (keyup)="filtrando($event.target.value)" placeholder="pesquisar">
    </p>
<table class="tabela">
    <thead>
        <tr>
            <td class="titulo-tabela">Nome</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resultado of data">
            <td (click)="seleciona(resultado.id)"><a class="cor">{{resultado.nome}}</a></td>
        </tr>
    </tbody>
</table>
</form>