<form class="example-form" [formGroup]="os">
    <div>
        <span class="titulo">Cadastro de Ordem de Serviço</span>
    </div>
    <table class="example-full-width" cellspacing="0">
      
      <tr>
        <td>
          <mat-form-field class="example-full-width"  [appearance]="'outline'">
            <mat-label>Cliente</mat-label>
                <input readonly matInput (click)="buscaCliente()">{{clientes.nome}}
        </mat-form-field>
      </td>
      
      <td>
        <mat-form-field class="example-full-width"  [appearance]="'outline'">
          <mat-label>Funcionario</mat-label>
              <input readonly matInput (click)="buscaFuncionario()">{{funcionarios.nome}}
      </mat-form-field>
    </td>
    </tr>
    </table> 
      <table class="example-full-width" cellspacing="0"><tr>
        <td>
          <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Data Entrada</mat-label>
          <input matInput [matDatepicker]="dp1" readonly formControlName="dataEntrada">
          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker #dp1></mat-datepicker>
        </mat-form-field>
      </td>
   
        <td>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Data Saida</mat-label>
            <input matInput [matDatepicker]="dp2" disabled formControlName="dataSaida">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
      </td>
    </tr>
  </table>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width"  [appearance]="'outline'"> 
            <mat-label>Preço</mat-label>
            <input matInput formControlName="preco" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field></td>
          
          <td>
            <mat-form-field class="example-full-width"  [appearance]="'outline'">
              <mat-label>Status</mat-label>
              <input matInput formControlName="status" readonly>
          </mat-form-field>
        </td>
        
      </tr></table>
        
      
         <div class="divbotao">
        <button mat-raised-button color="primary" style="margin-right: 2%;" (click)="salvar()"
        [disabled]="!os.valid">Salvar</button>
        <button mat-raised-button color="warn">Limpar</button>
    </div>
      </form>