
<form class="example-form" [formGroup]="vendaFormulario">
  <div>
      <span class="titulo">Vendas</span>
  </div>
  <table class="example-full-width" cellspacing="0">
      
    <tr>
      <td>
        <mat-form-field class="example-full-width"  [appearance]="'outline'">
          <mat-label>Cliente</mat-label>
              <input readonly matInput (click)="buscaCliente()">{{clientes.nome}}
      </mat-form-field>
    </td>
    
    <td>
      <mat-form-field class="example-full-width"  [appearance]="'outline'">
        <mat-label>Funcionario</mat-label>
            <input readonly matInput (click)="buscaFuncionario()">{{funcionarios.nome}}
    </mat-form-field>
  </td>
  </tr>
  </table> 
    <table class="example-full-width" cellspacing="0"><tr>
      <td>   
         <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Data da Venda</mat-label>
        <input matInput [matDatepicker]="dp1" readonly formControlName="dataVenda">
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Desconto</mat-label>
        <input matInput readonly formControlName="desconto" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
      </mat-form-field>
    </td></tr></table>

      <table class="example-full-width"  cellspacing="0"><tr>
        <td>
          <mat-form-field  appearance="fill" class="example-full-width">
          <mat-label>Valor Total</mat-label>
          <input matInput readonly formControlName="valorTotal" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
        </mat-form-field>
      </td>
        <td>
          <mat-form-field class="example-full-width"  [appearance]="'outline'">
            <mat-label>Status da Venda</mat-label>
            <input matInput formControlName="statusVenda" readonly>
        </mat-form-field>
      </td></tr></table>
 
      <button mat-raised-button color="primary" (click)="adicionarProdutos()"
      [disabled]="!vendaFormulario.valid">Adicionar produtos</button>
    </form>