.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 2%;
    padding-top: 5%;
    margin-left: 20%;
    font-size: 16px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

.divbotao{
  width: 500px;
  display: flex;
  justify-content: center;
}

.titulo{
  font-size: 30px;
  font-weight: 800;
  margin-left: 40%;
}

.mat-stepper-horizontal {
  margin-top: 8px;
  margin-right: 50px;
}

.mat-form-field {
  margin-top: 16px;
}
