<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>
            {{title}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
       <div class="box">
        <div class="quadrado">
            <div class="header">Vendas do dia</div>
            <div class="valores" *ngIf="verificaDia"><a routerLink="/venda-dia">{{vendaDia.length}}</a></div> 
        </div>
             <div class="quadrado"> 
            <div class="header">Venda Total</div>
            <div class="valores" *ngIf="verificaTotal"><a routerLink="/venda-lista">{{vendasTotal.length}}</a></div>  
        </div>
       </div>
       
    </mat-card-content>
 </mat-card>