<div class="grid-container">
  <h1 class="mat-h1">Bem Vindo</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <mat-grid-tile  [colspan]="( cardLayout | async )?.venda.cols"
      [rowspan]="( cardLayout | async )?.venda.rows">
      <app-card-venda title="Venda">
        
      </app-card-venda>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.os.cols"
      [rowspan]="( cardLayout | async )?.os.rows">
      <app-card title="Ordem de Serviço">
       
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>