<form class="example-form" [formGroup]="vendaFormulario">
    <div>
        <span class="titulo">Cadastro de Venda</span>
    </div>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
        <mat-form-field class="example-full-width"  [appearance]="'outline'">
            <mat-label>Cliente</mat-label>
            <input matInput formControlName="cliente">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width"  [appearance]="'outline'">
          <mat-label>Funcionario</mat-label>
          <input matInput formControlName="funcionario">

      </mat-form-field>
    </td>
    </tr>
    </table> 
      <table class="example-full-width" cellspacing="0"><tr>
        <td>   
           <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Data da Venda</mat-label>
          <input matInput [matDatepicker]="dp1" readonly formControlName="dataVenda">
          <mat-datepicker #dp1></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Desconto</mat-label>
          <input matInput formControlName="desconto" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
        </mat-form-field>
      </td></tr></table>

        <table class="example-full-width"  cellspacing="0"><tr>
          <td>
            <mat-form-field  appearance="outline" class="example-full-width">
            <mat-label>Valor Total</mat-label>
            <input matInput formControlName="valorTotal" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </mat-form-field>
        </td>
          <td>
            <mat-form-field class="example-full-width"  [appearance]="'outline'">
              <mat-label>Status da Venda</mat-label>
              <mat-select formControlName="statusVenda" name="status"  >
                <mat-option value="ABERTA"> Aberta </mat-option>
                <mat-option value="FINALIZADA"> Finalizada </mat-option>
              </mat-select>
          </mat-form-field>
        </td></tr></table>

      
         <div class="divbotao">
        <button mat-raised-button color="primary" style="margin-right: 2%;" (click)="finalizar()">Finalizar Venda</button>
        <button mat-raised-button color="warn">Voltar</button>
    </div>
      </form>