<form class="example-form"  [formGroup]="produto">
    <div>
        <span class="titulo">Atualizar Produtos</span>
    </div>
    <table><tr>
        <td><mat-form-field class="formulario-metade" [appearance]="'outline'">
          <mat-label>Id</mat-label>
          <input readonly matInput formControlName="id">
        </mat-form-field></td>
    
      </tr></table>

        <table  cellspacing="0" ><tr>
          <td><mat-form-field class="formulario-cheio " [appearance]="'outline'">
            <mat-label>Nome Produto</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field></td>
      
        </tr></table>

        <table  cellspacing="0" ><tr>
            <td> <mat-form-field class="formulario-cheio "  [appearance]="'outline'">
            <mat-label>Preço</mat-label>
            <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  formControlName="preco">
          </mat-form-field> </td>
        
          </tr></table>
      
         <div class="divbotao">
        <button mat-raised-button color="primary" style="margin-right: 2%;" (click)="atualizar()">Atualizar</button>

    </div>
      </form>